<ol n:if="$showBreadcrumb" class="breadcrumb">
	{foreach $breadcrumb as $node}
		<li n:class="$iterator->last ? active">
			{if $iterator->last}
				{$node->getTitle()}
			{else}
				<a href="{link showPage!, page=>$node->getPath()}">{$node->getTitle()}</a>
			{/if}
		</li>
	{/foreach}
</ol>