{layout $layoutTemplate}
{block doxenContent}
<div class="markdown-body">
	<h2>{$doc->getTitle()}</h2>
	<ul>
		{foreach $doc->getNodes() as $node}
			<li>
				<a n:href="showPage!, page => $node->getPath()">{$node->getTitle()}</a>
			</li>
		{/foreach}
	</ul>
</div>